<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Item</title>
</head>
<app-header></app-header>
<body>
    
     
     <mat-card>
        <mat-card-title>Blog Item</mat-card-title>
        <table mat-table [dataSource] = "dataElement" class="mat-elevation-z8">
            <!-- <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Authors</th>
                    <th>ISBN</th>
                    <th>Comments</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{blog?.id}}</td>
                    <td>{{blog?.title}}</td>
                    <td>{{blog?.description}}</td>
                    <td>{{blog?.author}}</td>
                    <td>{{blog?.comments}}</td>
                    <td>
                            <button mat-raised-button (click)="edit()">Edit</button>
                            <button  mat-raised-button color="warn" (click)="deleteButton()">Delete</button>
                    </td>
                </tr>
            </tbody> -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let data of blogs"> {{blog?.id}} </td>
              </ng-container>
        </table>
     </mat-card> 


     
</body>
</html>