<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>RouteActivity</title>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      </head>
<body>
    <form action="">
        <label for="email">Email: </label>
        <input type="text" id="email" name="email"><br>
        <label for="name">Name: </label>
        <input type="text" id="name" name="name"><br>
        <label for="bio">Bio: </label>
        <input type="text" id="bio" name="bio"><br>
        
        
        
        <label for="active">Active?</label>
        <input type="radio" id="css" name="fav_language" value="CSS">
        <label for="yes">Yes</label>
        <input type="radio" id="css" name="fav_language" value="CSS">
        <label for="no">No</label>
    </form>

    <!-- <mat-card>
        <mat-card-title>Profile Page</mat-card-title>
        <mat-card-content>
            <div class="example-container">
                <mat-form-field appearance="fill">
                  <mat-label>Enter your email</mat-label>
                  <input matInput placeholder="pat@example.com" [formControl]="email" required>
                  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
        </mat-card-content>
    </mat-card> -->
</body>
</html>